<%= bootstrap_form_for(@course) do |f| %>
    <div class="col-md-12">
      <%= f.text_field :name %>
      <%= f.text_field :description%>
      <div class="col-md-4 pull-right">
        <div class="pull-right">
          <%= link_to 'Back', courses_path, class: "btn btn-info" %>
          <%= f.submit 'Save', class: "btn btn-info" %>
        </div>
      </div>
    </div>
<% end %>