<div class="container">
  <div class="col-md-1"></div>
  <div id="table-responsive" class="col-md-10">
    <h3>Listing courses</h3>
    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th colspan="2"></th>
      </tr>
      </thead>
      <tbody>
      <% @courses.each do |course| %>
          <tr>
            <td><%= course.name %></td>
            <td><%= course.description %></td>
            <td><%= link_to 'Show', course %></td>
            <td><%= link_to 'Destroy', course, method: :delete, data: {confirm: 'Are you sure?'} %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <%= link_to 'New', new_course_path, class: "btn btn-info col-md-12 pull-right" %>
  </div>
  <div class="col-md-1"></div>
  <br/>
</div>